*.code-workspace
*.pdf
*.md
*.html

# virtualenvs
quavenv/*
.venv/*

# vscode config
.vscode/*

# cache
*__pycache__*
.pytest_cache/

# coverage
htmlcov/
*.coverage
.coverage

# results
*out
out/*
output/*
results/*
plots/*
dataset_stats/*


# pyenv
.python-version

# poetry
poetry.lock
poetry.toml

# log files
*.log
log

# requirements
requirements*.txt

# dataset
rcv1_class_info.json

var/
test*.py
*.sh
!docker/*.sh