*.code-workspace
quavenv/*
*.pdf
.venv/*
.vscode/*

*__pycache__*
htmlcov/*

accuracy_prediction*.py
test*.py
selected_gs.py 

*.coverage
.coverage

scp_sync.py

out/*
output/*
results/*
plots/*
dataset_stats/*

.python-version
poetry.lock
