/* restyle radio items */
.radio-group .form-check {
    padding-left: 0;
}
  
.radio-group .btn-group > .form-check:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
  
.radio-group .btn-group > .form-check:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

.radio-group-v{
    padding: 0 10px;
}
.radio-group-v .form-check {
    padding-top: 0;
    padding-left: 2px;
}

.radio-group-v .btn-group {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

.radio-group-v > .btn-group:first-child {
    flex-grow: 0;
}

.radio-group-v > .btn-group:last-child {
    margin-left: 20px;
}

.radio-group-v .btn-group > .form-check:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.radio-group-v .btn-group > .form-check:not(:first-child) > .btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: -3px;
}


.radio-group-v .btn-group .btn{
    width: 100%;
}

.radio-group-wide .form-check {
    padding-left: 0px;
}

.radio-group-wide .btn-group{
    flex-wrap: wrap;
}

.radio-group-wide .btn-group .form-check{
    flex: 1;
    margin-top: -3px;
    margin-left: -1px;
}


.radio-group-wide .btn-group .form-check .btn{
    width: 100%;
    border-radius: 0;
}

.radio-group-wide .btn-group .form-check:first-child > .btn{
    border-top-left-radius: 10px;
}

.radio-group-wide .btn-group .form-check:last-child > .btn{
    border-bottom-right-radius: 10px;
}

div#app-sidebar{
    border-right: 2px solid var(--primary);
}